<div class="row">
  <div class="col-1"></div>
  <div class="col">
    <div class = "appBackground">
      <div class="row p-2">
        <div class="col-xs">
          <input  class="inputBox" type="text" placeholder="City Name"  [(ngModel)]="city" name="city">
        </div>
        <div class="col p-3">
          <button class="btn text-center" (click)="searchWeather()">Enter</button>
        </div>
      </div>
      <div class="row">
        <div class="col img" >
          <img [src]="icon" alt="" style="height: 15vh; width: 20vw;">
        </div>
        <div>
          <p class="tempText">{{temp}}°C</p>
          <p class="city text-center">{{cityName}}</p>
        </div>
        <div class="row">
          <p class="status">{{checkIcon}}</p>
        </div>
        <div class="row mb-3">
          <div class="col-3"></div>
          <div class="col">
            <p class="highTemp"><img src="../assets/icon2/highTemp.svg" alt="" style="height: 10vh; width: 2vw;"> {{highTemp}}°C</p>
          </div>
          <div class="col">
            <p class="lowTemp"><img src="../assets/icon2/lowTemp.svg" alt="" style="height: 10vh; width: 2vw;"> {{lowTemp}}°C</p>
          </div>
          <div class="col-3"></div>
        </div>
        <div class="row">
          <div class="col">
            <img src="../assets/icon2/wind.svg" alt="" style="height: 10vh; width: 5vw;">
            <p class="wind">{{windSpeed}}Km/h</p>
            <p class="wind">Wind Speed</p>
          </div>
          <div class="col">
            <img src="../assets/icon2/humidity.svg" alt="" style="height: 10vh; width: 5vw;">
            <p class="humidity">{{humidity}}%</p>
            <p class="humidity">Humidity</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1"></div>
</div>